@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

body{
    background-image: url("images/alienbackground.jpg");
    background-size: cover;
    margin: 0 0 0 0;
}

header{
    background-color: black;
    color: white;
    text-align: center; 
    opacity: .7;
}

#alinvasion{
    text-align: center;
    margin: 0 auto 0 auto;  
    
}

#hoveringufo{
    width: 400px;
    transform: rotate(-10deg);
    position: relative; top: 200px; left: 80px;
}

#reelheader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 625px;
    background-color: black;
    border-radius: 50% 50% 0 0;
    z-index: 0;
    margin: 100px auto 50px auto; 
}



#slothead{
    display: flex;
    align-self: center;
    text-align: center;
    max-width: 710px;
    position: relative; top: -100px; 
    z-index: 1;
    margin-left: 110px;
}

#reels{
    position: relative; top: -60px; 
    height: 205px; 
}



#win{
    color: #7bff00;
    width: 650px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    font-family: 'Krona One', sans-serif;
    margin: 0 auto 0 auto;
    z-index: 2;
    position: relative; top: 430px;
}

#picvalues{
    display: none;
}

#credits{
    color: #7bff00;
    width: 80px;
    margin-right: 30px;
    font-family: 'Krona One', sans-serif;
    background-color: #0d0d0d;
    border-top: white inset .5px;
    border-right: #5c5e5d  inset .5px;
    border-bottom: #696666 inset .5px;
}

#credits1{
    color: #34f74e;
    width: 100px;
    background-color: #0d0d0d;
    font-family: 'Krona One', sans-serif;
    border-top: white inset .5px;
    border-left: #5c5e5d solid .5px;
    border-bottom: #5c5e5d inset .5px;
    padding-left: 5px;
}

#bet{
    color: #34f74e;
    width: 100px;
    background-color: #0d0d0d;
    font-family: 'Krona One', sans-serif;
    border-top: white inset .5px;
    border-right: white inset .5px;
    border-left: #5c5e5d solid .5px;
    border-bottom: #5c5e5d inset .5px;
    padding-left: 5px;
    margin-right: 40px;
    margin-left: 25px;
}

#spin{
    height: 40px;
    width: 100px;
    color: black;
    background-color: rgba(171, 226, 41, 0.774);
    margin-left: 100px;
    font-family: 'Krona One', sans-serif;
    background-image: url("images/spinbutton.png");
}

#spin:disabled{
    box-shadow: -1px -1px 4px 1px #7bff00;
    color: #383838;
}

#spin:focus{
    outline: none;
    box-shadow: -1px -1px 4px 1px #7bff00;
}

#reeldisplays{
    display: flex;
    width: 650px;
    height: 60px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto 0 auto;
    position: relative; top: -35px;
}

footer{
    background-color: black;
    max-height: 300px;
    text-align: center;
    opacity: .7;
}

#a{
    color: white;
    font-family: 'Notable', sans-serif;
    font-size: 16px;
}

#jkproduct{
    color: #7bff00;
    font-family: 'Krona One', sans-serif;
    font-size: 18px;
    transform: rotate(-7deg);
    width: 180px;
    margin: 0 auto 0 auto;
}

#production{
    color: white;
    font-family: 'Notable', sans-serif;
    font-size: 16px;
    padding-bottom: 35px;
}

#head{
    width: 8%;
    margin-top: 20px;
}

#wins{
    margin: 0 auto 20px auto;
}
